# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore GenericEnumOperators/GenericEnumOperators.slnx
    - name: Build
      run: dotnet build --no-restore GenericEnumOperators/GenericEnumOperators.slnx
    - name: Test
      run: dotnet test --no-build --verbosity normal GenericEnumOperators/GenericEnumOperators.slnx
    - name: Pack Safe
      run: dotnet pack --no-build --verbosity normal GenericEnumOperators/GenericEnumOperators.Safe/GenericEnumOperators.Safe.csproj
    - name: Pack Unsafe
      run: dotnet pack --no-build --verbosity normal GenericEnumOperators/GenericEnumOperators.Unsafe/GenericEnumOperators.Unsafe.csproj
